<div class="sidebar">
    <div class="sidebar-section">
        <h5><span>Blog Titles</span></h5>
        <ul style="list-style: none;">
            <li><a href="/category/java/">Java</a></li>
            <li><a href="/category/serverless/">Serverless</a></li>
            <li><a href="/category/cloud-native/">Cloud Native Application</a></li>
            <li><a href="/category/ddd/">Domain Driven Development</a></li>
            <li><a href="/category/tdd/">Test Driven Development</a></li>
        </ul>
    </div>

    <div class="sidebar-section">
        <h5><span>Profile</span></h5>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="developerbhuwan"><a class="LI-simple-link" href='https://ae.linkedin.com/in/developerbhuwan?trk=profile-badge'>Bhuwan Prasad Upadhyay</a></div>
    </div>

</div>